In [2]:
!pip install selenium

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.8/site-packages (4.0.0)
Requirement already satisfied: urllib3[secure]~=1.26 in /opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.8/site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.8/site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in /opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: wsproto>=0.14 in /opt/anaconda3/lib/python3.8/site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in /opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/lib/python3.8/site-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.14.5)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in /opt/anaconda3/lib/python3.8/site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/anaconda3/lib/python3.8/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver

In [4]:


driver= webdriver.Chrome(r"/Users/mj/Downloads/chromedriver")

<ipython-input-4-af4f0ae775fb>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"/Users/mj/Downloads/chromedriver")

# Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [330]:
driver.get("https://www.naukri.com/")

In [331]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore-bengaluru?k=data%20analyst&l=bangalore%2Fbengaluru"

In [332]:
driver.get(url)

In [333]:
# creating empty list
job_title=[]
job_location=[]
company_name=[]
exp_list=[]

In [334]:
# extracting job title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

<ipython-input-334-76697fae423c>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="7155bd4f-c33f-4273-beff-0ab60c11b99e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="a1ccaca4-077e-4114-a804-267f7fd30ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="7774137b-fee1-4a13-9655-a10c17b7b458")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="8482f59e-742f-43b1-b81b-6252e36c8334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="deb09eb4-5fb1-4ffd-bda6-f7924344f8f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="ee819d8a-baba-4a14-a863-2e736a372e93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="5350c4ef-d4a6-4a52-9a15-c3a520e622c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="05e38322-7878-473d-8a73-8be533bee775")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="33a52284-8a3f-4614-bbbc-50a912829194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="05ac0f13-19e3-4612-a090-a93c52439a32")>]

In [335]:
# scraping 10 items using for loop
for i in title_tags:
    titles=i.text
    job_title.append(titles)
job_title[0:10]

['Business Data Analyst - Database Design/Mining',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Business Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Data Analyst',
 'Power BI - Data Analyst - Biocon Biologics',
 'Senior Data Analyst']

In [336]:


#extracting company names
title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
title_tags[0:10]

<ipython-input-336-8d395cd6013e>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="af47ac91-507d-4514-b2ca-0941f9163b3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="4407208b-735a-4bf1-9e65-080d07adb8bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="6d94be75-0d64-4342-99e1-831d1031c029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="56355863-4fe5-4f87-b434-f44942ef3fc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="f7bbe8c5-e76e-47af-b94f-c68ccbbd54f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="f81c0345-0121-47ad-8fd4-c6201147cad6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="3ae68546-cbed-4acf-82ae-c0161e3a2552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="8551ef74-36da-46d2-a56e-74b3d99dbc46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="b7745f1a-da9c-443b-98f7-3840b9d3b877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="fc61f4cf-c745-47b1-9069-be43794a9428")>]

In [337]:
# scraping 10 company names using for loop
for i in title_tags:
    titles=i.text
    company_name.append(titles)
company_name[0:10]

['AugmatrixGo',
 'Applied Materials',
 'Shell',
 'Shell',
 'INTERTRUST GROUP',
 'NetApp',
 'Pronto Consulting Services',
 'NetraDyne Technology India Private Limited',
 'BIOCON BIOLOGICS LIMITED',
 'Utthunga Technologies Pvt Ltd']

In [338]:
# extracting location of company

title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
title_tags[0:10]

<ipython-input-338-58164ebf3942>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="52e8fbc4-37ff-4e4d-8d20-2ab85cd592ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="af6692da-1751-4032-9bfd-4dd21bed096b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="4717cad6-263c-4348-89fa-413bfe62d5c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d39f7580-57da-4e90-a0b9-611b0e55b1bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="3457cb70-7a4d-43bd-8bb9-be94ecab7cbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="4171efdd-e39e-4094-97fe-bcf6d23de93b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d326179d-e855-462a-b6ac-ed2d427e4274")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="fbb3dea3-6b49-4d66-889d-75ea6bcc2875")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="b3cc0453-07e6-439c-b9f9-6d18a06cf86a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="a6f1f003-3aea-4ad6-b832-9a662f7f877f")>]

In [339]:
# scraping 10 location using for loop
for i in title_tags:
    titles=i.text
    job_location.append(titles)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore Rural, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [340]:
# Extracting experience list
title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
title_tags[0:10]

<ipython-input-340-afeb7560e86a>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="c97abd2c-5055-4c25-a96e-36ba56bfbcc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d6664f39-f161-40db-9b78-76d89b0e4235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="9939611c-c6b7-49fe-8fd3-03dcd59e12bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="281ff5d3-a88c-496e-bcf6-de25f81f0ac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="7314fadb-1af6-4002-a925-29a1860de537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="eeb2f900-fa54-4770-9fd3-dd7dc950c556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="63121206-71a2-46a4-b7f5-178ffdf127f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="eb8024dc-3e80-449d-b59b-ef7099f44837")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d77d2b8b-863d-483c-abac-20c77d42f4d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="e0ad896b-010b-4f28-b9b8-814b9aae2daf")>]

In [341]:
# for loop for scraping experience list
for i in title_tags:
    titles=i.text
    exp_list.append(titles)
exp_list[0:10]

['2-5 Yrs',
 '0-3 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '6-10 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-4 Yrs']

# 1.creating Data Frame

In [342]:
#creating data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title[0:10]
jobs['location']=job_location[0:10]
jobs['CompanyName']=company_name[0:10]
jobs['Exp_required']=exp_list[0:10]
jobs

,Title,location,CompanyName,Exp_required
0,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell,5-10 Yrs
4,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,NetApp,5-10 Yrs
6,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
7,Data Analyst,"Bangalore Rural, Bangalore/Bengaluru",NetraDyne Technology India Private Limited,2-5 Yrs
8,Power BI - Data Analyst - Biocon Biologics,Bangalore/Bengaluru,BIOCON BIOLOGICS LIMITED,3-8 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Utthunga Technologies Pvt Ltd,3-4 Yrs

In [343]:
#Q2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
#location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.

driver.get("https://www.naukri.com/")

In [344]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru"

In [345]:
driver.get(url)

In [346]:
#creaing empty list
job_title=[]
job_location=[]
company_name=[]

In [347]:
#extracting URL for job_title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

<ipython-input-347-2aec2b788350>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="03dbdd52-7a58-49bd-b1ee-7fc9d0957a0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="97924b6f-9f54-4618-840b-efb54839ed04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="656a4848-eb3e-4517-92e7-f5ace2a95afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="8f6774b5-0de5-4c03-895c-d756e8d879b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="10ef3793-75e2-4bed-b38e-dd4f36fbc10d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="db8eb844-2503-4ad7-b5ca-3e651b7e048f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="47058c04-5961-478f-ba89-8b4ca6da38dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="ed2d6747-871b-409a-a500-79e89fe2a36d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="e0ac836b-9b49-46b8-82fb-73e253ff1d73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="4d4694d9-5b21-477a-bd39-b259bf0cb632")>]

In [348]:
#using for loop for scraping 10 titles
for i in title_tags:
    titles=i.text
    job_title.append(titles)
job_title[0:10]

['Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist',
 'Hiring For AI Architect / Lead Data Scientist - Bangalore -Iqvia',
 'Lead Data Scientist, Presales',
 'Senior Data Scientist',
 'Senior / Lead Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining']

In [349]:
#extracting Url for company names
title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
title_tags[0:10]

<ipython-input-349-90fad6c5a7ff>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="a49de4ca-54cb-4c0b-a57b-273b2f2dd84c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d6a7de6d-55cc-4e5b-a763-e2b341b96554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="d709c561-a1c7-43e5-8bcf-07b4ea459b36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="81f95afb-1923-457e-9759-f9d5fd1d6b6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="aae9a3e8-3423-4ecf-be3c-e6adbb742cf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="19cf67ea-57b5-46b5-966d-2620ef26eaef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="a835f8e5-2c4b-43de-8172-7b8231af6877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="91b1f5ca-757a-4851-924b-0912494692d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="eca6cdeb-8c8f-4c46-bbd9-b68ee06fd6a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="af255c54-5c66-4016-ac36-f0c64fdd71f8")>]

In [350]:
#using for loop to scrap 10 company name
for i in title_tags:
    titles=i.text
    company_name.append(titles)
company_name[0:10]

['TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Alstom Transport India Ltd.',
 'Amazon',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Santechture',
 'IQVIA RDS India Pvt Ltd',
 'Moveworks',
 'Easy Recruit',
 'Bukuwarung',
 'Wrackle Technologies Pvt Ltd']

In [351]:
#extracting URL for job location
title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
title_tags[0:10]

<ipython-input-351-7876922bcfc1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="19a05f3d-8511-424d-9b3f-24ac003905ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="ac1d956c-b08a-4e94-a260-1229c760e147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="11a339f7-fb7d-4b9c-8793-979a4086b4db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="6e0d43a7-dbcc-4a0f-abb8-c0961138cb28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="59587e14-e8eb-4bbe-b969-501708104711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="ecfa695e-cffa-4603-bd18-f51ca931d8fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="92e22625-62a9-42e0-b1c2-d36ddf5c6206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="035145e6-84ea-4eca-b295-1b4a744bb87c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="54760f36-fa2d-420b-ad60-1b245166b1df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1031c8f81301997e8751a3c04b3543d", element="82a8a00c-c15e-4481-99e2-573d310fa8b8")>]

In [352]:
#using for loop to scrap 10 location data
for i in title_tags:
    titles=i.text
    job_location.append(titles)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

# 2. creating DataFrame

In [353]:
# creating data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title[0:10]
jobs['location']=job_location[0:10]
jobs['CompanyName']=company_name[0:10]

jobs

,Title,location,CompanyName
0,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
1,Data Scientist,Bangalore/Bengaluru,Alstom Transport India Ltd.
2,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Amazon
3,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
4,Senior Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Santechture
5,Hiring For AI Architect / Lead Data Scientist ...,Bangalore/Bengaluru,IQVIA RDS India Pvt Ltd
6,"Lead Data Scientist, Presales",Bangalore/Bengaluru,Moveworks
7,Senior Data Scientist,Bangalore/Bengaluru,Easy Recruit
8,Senior / Lead Data Scientist,Bangalore/Bengaluru,Bukuwarung
9,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd

Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [468]:
# driver to get URL
driver.get("https://www.naukri.com/")
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"
driver.get(url)

In [469]:
#creating empty list
job_title=[]
job_location=[]
company_name=[]

In [470]:
#extracting URL for job title
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
title_tags[0:10]

<ipython-input-470-89e329c09011>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a")

[<selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="90c6a5a1-5441-4b03-b72b-acb14f8866c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="2063d3fb-3720-4c0b-9ea4-d8f3db33ce82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="a2f2fe5c-65d6-4971-aafc-eabcdfa711e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="d3887516-c3c0-483f-a01a-870969a589d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="8c3cdf51-5231-407c-9a05-2e780bd2267c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="c21854c9-14bf-42a1-9402-34fef350b994")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="fd9a939b-2a81-4802-8532-2d1aed7af3f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="ce2a41b2-e25e-4d80-81f9-2a9303d60708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="e52eef10-b855-43ed-a776-e69d3278bbe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="8a74cd44-c535-4f31-aa88-29ba57f4ccc8")>]

In [471]:
# for loop for scraping 10 job
for i in title_tags:
    titles=i.text
    job_title.append(titles)
job_title[0:10]

['Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist']

In [472]:
#extracting location of jobs
title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
title_tags[0:10]

<ipython-input-472-7876922bcfc1>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="c0acea1a-3c09-4d16-8b69-45e964ec738f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="ec219a1d-08f2-4a47-ab87-94b00c756508")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="903c0368-f752-4528-81b3-877b9bef6244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="75a7c411-47b5-436f-bf4a-ab9b7af13a54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="7fe62b72-e641-482b-a772-f5e7ade417f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="d2e37ff2-ec2e-45ec-80db-6fa5a8aad6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="d710ace5-015d-41d1-87d0-a713376b5a2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="b98e25bc-c017-4183-a243-b6f4d81f7545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="81e20caf-63e7-44ad-9650-bc26081cf701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="b2e4743f-c873-468f-9157-c349330ab715")>]

In [473]:

for i in title_tags:# scraping location of job
    titles=i.text
    job_location.append(titles)
job_location[0:10]

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)',
 'Delhi / NCR(Netaji Subhash Place)',
 'Noida, Gurgaon/Gurugram',
 'Noida',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Remote']

In [474]:
#extracting company name
title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
title_tags[0:10]

<ipython-input-474-90fad6c5a7ff>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="30041f36-f5e8-4ab2-8f1a-16347c3c47c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="9d256885-a103-499f-baef-b3435ab58ee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="e4ea14ee-0c5f-4d53-b746-e749dc7ea640")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="72a86963-fce9-423b-ae10-ebe17e7813f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="16d53d80-09af-4dc5-8932-58198dba89ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="a12f5d1a-1665-44e5-9f82-245a07617430")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="63741d09-d137-4d7b-bdbe-6fc3a279532d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="fdce082e-954d-4acd-8cc7-9615bf2caea6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="57f1d493-109e-4559-8602-c0b7d478433a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1df9510e8473932f2c48175afcf4901", element="6b73b330-d801-4884-a97b-97defd81d5c6")>]

In [475]:
for i in title_tags: # scraping company names
    titles=i.text
    company_name.append(titles)
company_name[0:10]

['Think i',
 'HCL Technologies',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.',
 'Shriram Automall India Limited',
 'Optum Global Solutions (India) Private Limited',
 'SVK Global Solutions Private Limited',
 'iHackers Inc',
 'Fractal Analytics',
 'Tidyquant (OPC) Private Limited']

# 3.Creating DataFrame

In [476]:
# creating data frame
jobs=pd.DataFrame({})
jobs['Title']=job_title[0:10]
jobs['location']=job_location[0:10]
jobs['CompanyName']=company_name[0:10]

jobs

,Title,location,CompanyName
0,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i
1,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies
2,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.
3,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.
4,Urgent Hiring || Data Scientist || Delhi,Delhi / NCR(Netaji Subhash Place),Shriram Automall India Limited
5,Data Scientist,"Noida, Gurgaon/Gurugram",Optum Global Solutions (India) Private Limited
6,Data Scientist,Noida,SVK Global Solutions Private Limited
7,Data Scientist Internship,New Delhi,iHackers Inc
8,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics
9,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited

Q4.To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [377]:
driver.get("https://www.flipkart.com/")
url="https://www.flipkart.com/search?q=SUNGLASSES&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [378]:
#creating empty list
brand=[]
pro_des=[]
price=[]
discount=[]

In [588]:
#extracting and scraping brand name of sunglasses using exception
title_tags=driver.find_elements_by_xpath("//a[@class='_2WkVRV']")
title_tags
for i in title_tags:
    titles=i.text
    brand.append(titles)
brand

nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
try:
        

    driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

except:

        driver.get(nxt_button[0].get_attribute('href'))
brand

<ipython-input-588-6223535dbc23>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='_2WkVRV']")
<ipython-input-588-6223535dbc23>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

['povty',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'PHENOMENAL',
 'hipe',
 'ROYAL SON',
 'SUNBEE',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'GANSTA',
 'elegante',
 'Fastrack',
 'MAXX',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fravy',
 'Silver Kartz',
 'Elligator',
 'SUNBEE',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'DEIXELS',
 'PIRASO',
 'elegante',
 'Fastrack',
 'povty',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'PHENOMENAL',
 'hipe',
 'ROYAL SON',
 'SUNBEE',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'GANSTA',
 'elegante',
 'Fastrack',
 'MAXX',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fravy',
 'Silver Kartz',
 'Elligator',
 'SUNBEE',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'DEIXELS',
 'PIRASO',
 'elegante',
 'Fastrack',
 'povty',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'PHENOMENAL',
 'hipe',
 'ROYAL SON',
 'SUNBEE',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'GANSTA',
 'elegante',
 'Fastrack',
 'MAXX',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fravy',
 'Silver Kartz',
 'Elligator',
 'SUNBEE',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'DEIXELS',
 'PIRASO',
 'elegante',
 'Fastrack']

In [383]:
# extracting product description and scraping data for products
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='IRpwTa'

    for i in brands[0:100]:

        pro_des.append(i.text)
pro_des[0:100]

<ipython-input-383-44a8298c4e26>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='_2WkVRV'

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (60)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (60)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (60)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [385]:
# extracting price of sunglasses
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_30jeq3')#scraping brands name by class name='_30jeq3'

    for i in brands[0:100]:

        price.append(i.text)
price[0:100]

<ipython-input-385-0409e49e9177>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_30jeq3')#scraping brands name by class name='_2WkVRV'

['₹339',
 '₹694',
 '₹359',
 '₹513',
 '₹295',
 '₹209',
 '₹325',
 '₹1,085',
 '₹199',
 '₹329',
 '₹189',
 '₹664',
 '₹258',
 '₹219',
 '₹359',
 '₹1,059',
 '₹329',
 '₹186',
 '₹340',
 '₹733',
 '₹175',
 '₹299',
 '₹379',
 '₹299',
 '₹284',
 '₹263',
 '₹276',
 '₹503',
 '₹299',
 '₹449',
 '₹179',
 '₹758',
 '₹249',
 '₹229',
 '₹299',
 '₹822',
 '₹249',
 '₹200',
 '₹399',
 '₹689',
 '₹284',
 '₹758',
 '₹229',
 '₹325',
 '₹186',
 '₹339',
 '₹694',
 '₹359',
 '₹513',
 '₹295',
 '₹209',
 '₹325',
 '₹1,085',
 '₹199',
 '₹329',
 '₹189',
 '₹664',
 '₹258',
 '₹219',
 '₹359',
 '₹1,059',
 '₹329',
 '₹186',
 '₹340',
 '₹733',
 '₹175',
 '₹299',
 '₹379',
 '₹299',
 '₹284',
 '₹263',
 '₹276',
 '₹503',
 '₹299',
 '₹449',
 '₹179',
 '₹758',
 '₹249',
 '₹229',
 '₹299',
 '₹822',
 '₹249',
 '₹200',
 '₹399',
 '₹689',
 '₹284',
 '₹758',
 '₹229',
 '₹325',
 '₹186',
 '₹339',
 '₹694',
 '₹359',
 '₹513',
 '₹295',
 '₹209',
 '₹325',
 '₹1,085',
 '₹199',
 '₹329']

In [387]:
#extracting discount on that price
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_3Ay6Sb')#scraping brands name by class name='_3Ay6Sb'

    for i in brands[0:100]:

        discount.append(i.text)
discount[0:100]

<ipython-input-387-d81ebfa80e0a>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_3Ay6Sb')#scraping brands name by class name='_2WkVRV'

['66% off',
 '13% off',
 '76% off',
 '35% off',
 '85% off',
 '88% off',
 '83% off',
 '16% off',
 '86% off',
 '83% off',
 '81% off',
 '66% off',
 '80% off',
 '81% off',
 '86% off',
 '18% off',
 '83% off',
 '85% off',
 '82% off',
 '18% off',
 '80% off',
 '82% off',
 '74% off',
 '80% off',
 '76% off',
 '89% off',
 '78% off',
 '37% off',
 '81% off',
 '77% off',
 '64% off',
 '15% off',
 '86% off',
 '77% off',
 '82% off',
 '8% off',
 '58% off',
 '87% off',
 '80% off',
 '23% off',
 '76% off',
 '15% off',
 '77% off',
 '83% off',
 '85% off',
 '66% off',
 '13% off',
 '76% off',
 '35% off',
 '85% off',
 '88% off',
 '83% off',
 '16% off',
 '86% off',
 '83% off',
 '81% off',
 '66% off',
 '80% off',
 '81% off',
 '86% off',
 '18% off',
 '83% off',
 '85% off',
 '82% off',
 '18% off',
 '80% off',
 '82% off',
 '74% off',
 '80% off',
 '76% off',
 '89% off',
 '78% off',
 '37% off',
 '81% off',
 '77% off',
 '64% off',
 '15% off',
 '86% off',
 '77% off',
 '82% off',
 '8% off',
 '58% off',
 '87% off',
 '80% off',
 '23% off',
 '76% off',
 '15% off',
 '77% off',
 '83% off',
 '85% off',
 '66% off',
 '13% off',
 '76% off',
 '35% off',
 '85% off',
 '88% off',
 '83% off',
 '16% off',
 '86% off',
 '83% off']

# 4.creating DataFrame

In [389]:
#creating data frame to summarize the details
jobs=pd.DataFrame({})
jobs['brand']=brand[0:100]
jobs['pro_des']=pro_des[0:100]
jobs['price']=price[0:100]
jobs['discount']=discount[0:100]

jobs

,brand,pro_des,price,discount
0,povty,UV Protection Retro Square Sunglasses (Free Size),₹339,66% off
1,Fastrack,UV Protection Wayfarer Sunglasses (55),₹694,13% off
2,ROYAL SON,Mirrored Aviator Sunglasses (55),₹359,76% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹295,85% off
...,...,...,...,...
95,Fastrack,UV Protection Aviator Sunglasses (58),₹209,88% off
96,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹325,83% off
97,GANSTA,UV Protection Rectangular Sunglasses (60),"₹1,085",16% off
98,elegante,Mirrored Round Sunglasses (Free Size),₹199,86% off
99,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹329,83% off

In [390]:
#Q5.Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [63]:
driver.get("https://www.flipkart.com/")
url="https://www.flipkart.com/apple-iphone-11-yellow-128-gb/product-reviews/itm7030edc9e100e?pid=MOBFWQ6BWTSBJSHY&lid=LSTMOBFWQ6BWTSBJSHY0EKZKI&marketplace=FLIPKART"
driver.get(url)

In [67]:
#creating empty list
Rating=[]
Review_summary=[]
Full_review=[]

In [75]:
#extracting and scraping rating of iphone11

title_tags=driver.find_elements_by_xpath("//a[@class='_3LWZlK _1BLPMq']")
title_tags
for i in title_tags:
    titles=i.text
    Rating.append(titles)


nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
try:
        

    driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

except:

    driver.get(nxt_button[0].get_attribute('href'))
Rating

<ipython-input-75-fa847923fabc>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='_3LWZlK _1BLPMq']")
<ipython-input-75-fa847923fabc>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

[]

In [83]:

#extracting and scrapping details of review summary

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_2-N8zT')#scraping brands name by class name='_2-N8zT'

    for i in brands:

        Review_summary.append(i.text)
Review_summary

<ipython-input-83-29e986912ac2>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2-N8zT')#scraping brands name by class name='_2-N8zT'

['Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Wonderful',
 'Good choice',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Wonderful',
 'Good choice',
 'Perfect product!',
 'Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Brilliant',
 'Classy product',
 'Must buy!',
 'Wonderful',
 'Good choice',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Best in the market!',
 'Hated it!',
 'Hated it!',
 'Just okay',
 'Fair',
 'Worst experience ever!',
 'Waste of money!',
 'Good quality product',
 'Terrific purchase',
 'Best in the market!',
 'Best in the market!',
 'Hated it!',
 'Hated it!',
 'Just okay',
 'Fair',
 'Worst experience ever!',
 'Waste of money!',
 'Good quality product',
 'Terrific purchase',
 'Best in the market!',
 'Best in the market!',
 'Hated it!',
 'Hated it!',
 'Just okay',
 'Fair',
 'Worst experience ever!',
 'Waste of money!',
 'Good quality product',
 'Terrific purchase']

In [84]:
#extracting and scraping full review
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('t-ZTKy')#scraping brands name by class name='t-ZTKy'

    for i in brands:

        Full_review.append(i.text)
Full_review

<ipython-input-84-999b7ddde4ea>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('t-ZTKy')#scraping brands name by class name='_2WkVRV'

['Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",

# 5. creating dataframe

In [85]:
#creating data frame to summarize data
jobs=pd.DataFrame({})


jobs['Review_summary']=Review_summary[0:100]
jobs['Full_review']=Full_review[0:100]


jobs

            Review_summary                                        Full_review
0                 Terrific  Really worth of money. i just love it. It is t...
1                Wonderful  This is my first ever I phone. Before this I w...
2             Nice product  Awesome Phone. Slightly high price but worth. ...
3         Perfect product!  Battery backup is extraordinary, camera is dec...
4                Brilliant  I have migrated from OP 7pro... and trust me, ...
..                     ...                                                ...
95                    Fair            Not very good ,It's only emergency wear
96  Worst experience ever!  waste of money\nproduct does not meet to quali...
97         Waste of money!                          Very bad , lowest quality
98    Good quality product             shoe is awesome but packaging very bad
99       Terrific purchase  Nice product....I m very happy because I buy t...

[100 rows x 2 columns]

In [86]:
#Q6
driver.get("https://www.flipkart.com/")
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [70]:
#empty list
brands=[]
product=[]
price=[]
dis=[]

In [71]:
# brand names scraping for sneakers
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'

    for i in brands[0:100]:

        brands.append(i.text)
brands[0:100]

<ipython-input-71-88c89e24cfec>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'

[<selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="394f6bbf-6638-4043-9483-2f0a838e877d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="7c6212be-7cc6-49d3-b59b-d913c82f78fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="df6895e8-098e-4b23-ae9b-a255fd2a7b97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="0e9f8f72-628e-42e2-bdfa-36e691efedd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="2b3d4c4d-4886-4e19-ad65-0e602cdddda1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="fd9de206-1d66-465e-ba6f-e5452442f008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="5ec4540e-8b45-46ea-98cb-9e415f2a1f8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="0533bff5-9740-4054-852c-7c6aafa91763")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="93956a7c-ac71-4a6e-b37c-3da59e71c22f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="1f5177b4-83e9-4735-a468-443ae1ccdfc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="ef20a642-a2d1-4bee-80ea-6c8b8831aed4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="68d6710b-3fc4-40d3-b6cc-22bac62586f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="af5658ae-6703-4344-8fa0-ab5ed171fe01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c637474f-3c4e-4092-8fdc-02793b89da3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c8661067-062d-41da-a63e-7cdc9dc8d506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="21f9fa78-e1fe-4a86-bcf7-6c4efc72148c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="7b9b7272-ec6c-4704-84db-f8e69be6b9de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="ec76e848-8c1e-4f6e-b478-50adfb8b0c98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="e42ee515-33fa-4c48-b9b7-d82542dcd6fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="7d5eba55-ecb8-4395-8f30-05f25abde386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="8d3f0889-4873-4446-853e-63f492edb041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="5d4c4ab7-c094-4cce-8c27-db01f8f80c6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="fcca5167-0463-484f-944b-0a276a0b2f50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="d10d8ddd-6e6e-494c-81dc-1894b1428e6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c282e910-f961-4e2a-b83a-e24dd4d4f004")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="4d5b1f68-4d26-4c8f-ac05-01578597a978")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="b20e13aa-75a7-4a7b-9a25-a288ecbd4d3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="5fcaed40-b89e-4f4b-ab8e-26adf5f388de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="fcdd816a-59ec-4233-924d-fab7d79e595a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="dabfd0fb-11ce-461f-aae9-7a86226fb81c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="23c3677c-e0ed-403e-aef3-eee330681be9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="a4693199-04c5-4afa-8487-a7bc401ef941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="1cfd2550-56c9-444a-b323-0d729cea5d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="81517670-6114-443f-b77f-32cbabdda282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="bf7b474c-8944-4018-9d89-52db44596ce9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="248a381d-c3d6-4437-9dc3-cc0a67c94916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="ceb08031-b64d-4a15-aa2b-3ed01a7987b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="5a68477c-df21-4dae-a152-a4c1a2a28693")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="16e9244e-f8ad-4cb6-afe1-dd7baf1c4b91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="712c7420-c251-47bf-94dd-0adf6154e093")>,
 'SUSON',
 'BRUTON',
 'ASTEROID',
 'Chevit',
 'Magnolia',
 'Numenzo',
 'Numenzo',
 'BRUTON',
 'Chevit',
 'Chevit',
 'URBANBOX',
 "Neeman's",
 'ASTEROID',
 'Kraasa',
 'SPARX',
 'Pieds',
 'SCATCHITE',
 'BRUTON',
 'FOOTGRAB',
 "Neeman's",
 'D-SNEAKERZ',
 'Numenzo',
 'BRUTON',
 'Unistar',
 'Robbie jones',
 'Kraasa',
 'Arohi',
 'BIRDE',
 'BIRDE',
 'believe',
 'Shoes Bank',
 'aadi',
 'India hub',
 'RODDICK SHOES',
 'BRUTON',
 "Neeman's",
 'T-ROCK',
 'SPARX',
 'India hub',
 'EEGO ITALY']

In [73]:
#scraping the product description for sneakers

start=0

end=4

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='IRpwTa'

    for i in brands[0:100]:

        product.append(i.text)
product[0:100]

<ipython-input-73-68e6747efe0c>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('IRpwTa')#scraping brands name by class name='_2WkVRV'

['Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Winter Shoes...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Combo Pack OF 2 Casual Shoes For Men Snea...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Shark-41 Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'White Boots || High Tops || Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Numenzo Black Sneaker For Men Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Military/PT Shoes For Men; 101-Brown Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Fashionable sneaker casual shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Winter Shoes...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Combo Pack OF 2 Casual Shoes For Men Snea...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Shark-41 Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'White Boots || High Tops || Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Numenzo Black Sneaker For Men Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Military/PT Shoes For Men; 101-Brown Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Fashionable sneaker casual shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Winter Shoes...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Combo Pack OF 2 Casual Shoes For Men Snea...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Shark-41 Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'White Boots || High Tops || Sneakers For Men',
 'Sneakers For Men']

In [74]:
#scraping price of sneakers

start=0

end=4

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_30jeq3')#scraping brands name by class name='_30jeq3'

    for i in brands[0:100]:

        price.append(i.text)
price[0:100]

<ipython-input-74-e3580002395c>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_30jeq3')#scraping brands name by class name='_2WkVRV'

['₹379',
 '₹499',
 '₹499',
 '₹699',
 '₹398',
 '₹499',
 '₹479',
 '₹592',
 '₹599',
 '₹599',
 '₹220',
 '₹2,399',
 '₹499',
 '₹499',
 '₹646',
 '₹528',
 '₹398',
 '₹666',
 '₹549',
 '₹2,399',
 '₹348',
 '₹499',
 '₹379',
 '₹299',
 '₹379',
 '₹499',
 '₹458',
 '₹499',
 '₹299',
 '₹499',
 '₹345',
 '₹473',
 '₹448',
 '₹499',
 '₹592',
 '₹2,399',
 '₹379',
 '₹646',
 '₹499',
 '₹1,499',
 '₹592',
 '₹599',
 '₹379',
 '₹528',
 '₹666',
 '₹379',
 '₹499',
 '₹499',
 '₹699',
 '₹398',
 '₹499',
 '₹479',
 '₹592',
 '₹599',
 '₹599',
 '₹220',
 '₹2,399',
 '₹499',
 '₹499',
 '₹646',
 '₹528',
 '₹398',
 '₹666',
 '₹549',
 '₹2,399',
 '₹348',
 '₹499',
 '₹379',
 '₹299',
 '₹379',
 '₹499',
 '₹458',
 '₹499',
 '₹299',
 '₹499',
 '₹345',
 '₹473',
 '₹448',
 '₹499',
 '₹592',
 '₹2,399',
 '₹379',
 '₹646',
 '₹499',
 '₹1,499',
 '₹592',
 '₹599',
 '₹379',
 '₹528',
 '₹666',
 '₹379',
 '₹499',
 '₹499',
 '₹699',
 '₹398',
 '₹499',
 '₹479',
 '₹592',
 '₹599',
 '₹599']

In [75]:
#discount on price for scrapped sneakers

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_3Ay6Sb')#scraping brands name by class name='_3Ay6Sb'

    for i in brands[0:100]:

        dis.append(i.text)
dis[0:100]

<ipython-input-75-a916a89e092e>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_3Ay6Sb')#scraping brands name by class name='_2WkVRV'

['62% off',
 '80% off',
 '75% off',
 '56% off',
 '60% off',
 '75% off',
 '63% off',
 '76% off',
 '60% off',
 '66% off',
 '77% off',
 '20% off',
 '50% off',
 '50% off',
 '13% off',
 '64% off',
 '60% off',
 '80% off',
 '45% off',
 '20% off',
 '47% off',
 '61% off',
 '70% off',
 '62% off',
 '50% off',
 '54% off',
 '50% off',
 '40% off',
 '50% off',
 '65% off',
 '76% off',
 '77% off',
 '50% off',
 '76% off',
 '20% off',
 '62% off',
 '13% off',
 '75% off',
 '50% off',
 '76% off',
 '66% off',
 '62% off',
 '64% off',
 '80% off',
 '62% off',
 '80% off',
 '75% off',
 '56% off',
 '60% off',
 '75% off',
 '63% off',
 '76% off',
 '60% off',
 '66% off',
 '77% off',
 '20% off',
 '50% off',
 '50% off',
 '13% off',
 '64% off',
 '60% off',
 '80% off',
 '45% off',
 '20% off',
 '47% off',
 '61% off',
 '70% off',
 '62% off',
 '50% off',
 '54% off',
 '50% off',
 '40% off',
 '50% off',
 '65% off',
 '76% off',
 '77% off',
 '50% off',
 '76% off',
 '20% off',
 '62% off',
 '13% off',
 '75% off',
 '50% off',
 '76% off',
 '66% off',
 '62% off',
 '64% off',
 '80% off',
 '62% off',
 '80% off',
 '75% off',
 '56% off',
 '60% off',
 '75% off',
 '63% off',
 '76% off',
 '60% off',
 '66% off',
 '77% off',
 '20% off']

# 6.creating DataFrame

In [76]:
#creating data frame to summarize data

jobs=pd.DataFrame({})
jobs['brands']=brand[0:100]
jobs['product']=product[0:100]
jobs['price']=price[0:100]
jobs['discount']=dis[0:100]



jobs

,brands,product,price,discount
0,GANSTA,Gym/Walking/Running Sneakers For Men,₹379,62% off
1,Fastrack,Combo Pack of 2 Sports Running LightWeight Win...,₹499,80% off
2,MAXX,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
3,PHENOMENAL,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹699,56% off
4,kingsunglasses,Sneakers For Men,₹398,60% off
...,...,...,...,...
95,Silver Kartz,Sneakers For Men,₹499,76% off
96,PIRASO,Sneakers Sneakers For Men,₹479,60% off
97,kingsunglasses,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹592,66% off
98,kingsunglasses,White Boots || High Tops || Sneakers For Men,₹599,77% off
99,kingsunglasses,Sneakers For Men,₹599,20% off

In [77]:
#Q7.Q7: Go to the link - https://www.myntra.com/shoes
#Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown inthe below image.

driver.get("https://www.myntra.com/")
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"
driver.get(url)

In [78]:
brandshoe=[]
branddes=[]
price_of_shoe=[]

In [79]:
#scraping details for brands shoes

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('product-brand')#scraping brands name by class name='product-brand'

    for i in brands[0:100]:

        brandshoe.append(i.text)
brandshoe[0:100]

<ipython-input-79-58f5c9bf189e>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('product-brand')#scraping brands name by class name='_2WkVRV'

['Nike',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Nike',
 'ADIDAS',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Puma',
 'ADIDAS',
 'Puma',
 'Nike',
 'Puma',
 'Hush Puppies',
 'ASICS',
 'Heel & Buckle London',
 'Puma',
 'Cole Haan',
 'PUMA Hoops',
 'UNDER ARMOUR',
 'ASICS',
 'Regal',
 'Saint G',
 'ASICS',
 'Puma',
 'Saint G',
 'PUMA Motorsport',
 'Regal',
 'PUMA Motorsport',
 'ASICS',
 'Bugatti',
 'PUMA Motorsport',
 'Bugatti',
 'Heel & Buckle London',
 'Puma',
 'Bugatti',
 'Puma',
 'Hush Puppies',
 'ROSSO BRUNELLO',
 'RARE RABBIT',
 'Calvin Klein',
 'Puma',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Regal',
 'Puma',
 'Geox',
 'Nike',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Nike',
 'ADIDAS',
 'Nike',
 'Puma',
 'Nike',
 'Nike',
 'Puma',
 'ADIDAS',
 'Puma',
 'Nike',
 'Puma',
 'Hush Puppies',
 'ASICS',
 'Heel & Buckle London',
 'Puma',
 'Cole Haan',
 'PUMA Hoops',
 'UNDER ARMOUR',
 'ASICS',
 'Regal',
 'Saint G',
 'ASICS',
 'Puma',
 'Saint G',
 'PUMA Motorsport',
 'Regal',
 'PUMA Motorsport',
 'ASICS',
 'Bugatti',
 'PUMA Motorsport',
 'Bugatti',
 'Heel & Buckle London',
 'Puma',
 'Bugatti',
 'Puma',
 'Hush Puppies',
 'ROSSO BRUNELLO',
 'RARE RABBIT',
 'Calvin Klein',
 'Puma',
 'Hush Puppies',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Regal',
 'Puma',
 'Geox']

In [80]:
#scraping shoe description for shoes

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('product-product')#scraping brands name by class name='product-product'

    for i in brands[0:100]:

        branddes.append(i.text)
branddes[0:100]

<ipython-input-80-136fa5b3c467>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('product-product')#scraping brands name by class name='_2WkVRV'

['AIR ZOOM PEGASUS Running Shoes',
 'Men Zoom Span 4 Running Shoes',
 'Men Formal Derbys',
 'LEBRON WITNESS Basketball Shoe',
 'Men ZOOM SPAN 4 Running Shoes',
 'Men Court Jam Bounce Tennis',
 'Air Zoom Pegasus 38 Shield Run',
 'Men Deviate Nitro Running Shoe',
 'Men FLIGHT LEGACY Sneakers',
 "Men BlazerLow '77 Sneakers",
 'Men Liberate NITRO Running',
 'Men Lightstrike Go Running',
 'Women Provoke XT Training',
 'Men AIR PRESTO Sneakers',
 'Unisex Leather Trainers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Colourblocked PU Sneakers',
 'Men Solid Leather Formal Penny Loafers',
 'Unisex Mirage Remix Sneakers',
 'Men Wingtip Oxford Sneakers',
 'Unisex Clyde All-Pro Team',
 'Women Charged Bandit 6 Running',
 'Men Black Running Sports Shoes',
 'Men Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Men Running Shoes',
 'Women Liberate NITRO Running',
 'Men Mid-Top Chelsea Boots',
 'Unisex BMW RS-Connect Sneakers',
 'Men Solid Leather Formal Monks',
 'Unisex Ferrari Wild Rider Shoe',
 'Skycourt Sneakers',
 'Men Running Shoes',
 'Unisex FerrariRS-Fast Sneakers',
 'Men Black Walking Shoes',
 'Men Leather Monk Shoes',
 'Unisex Textured Sneakers',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Monk Shoes',
 'Men Leather Flat Boots',
 'Men Solid Suede Sneakers',
 'Men Football Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Leather Block Pumps',
 'Women Leather Pumps',
 'Men Textured Leather Formal Brogues',
 'Women Magnify Nitro Shoes',
 'Men Leather Flat Boots',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Zoom Span 4 Running Shoes',
 'Men Formal Derbys',
 'LEBRON WITNESS Basketball Shoe',
 'Men ZOOM SPAN 4 Running Shoes',
 'Men Court Jam Bounce Tennis',
 'Air Zoom Pegasus 38 Shield Run',
 'Men Deviate Nitro Running Shoe',
 'Men FLIGHT LEGACY Sneakers',
 "Men BlazerLow '77 Sneakers",
 'Men Liberate NITRO Running',
 'Men Lightstrike Go Running',
 'Women Provoke XT Training',
 'Men AIR PRESTO Sneakers',
 'Unisex Leather Trainers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Colourblocked PU Sneakers',
 'Men Solid Leather Formal Penny Loafers',
 'Unisex Mirage Remix Sneakers',
 'Men Wingtip Oxford Sneakers',
 'Unisex Clyde All-Pro Team',
 'Women Charged Bandit 6 Running',
 'Men Black Running Sports Shoes',
 'Men Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Men Running Shoes',
 'Women Liberate NITRO Running',
 'Men Mid-Top Chelsea Boots',
 'Unisex BMW RS-Connect Sneakers',
 'Men Solid Leather Formal Monks',
 'Unisex Ferrari Wild Rider Shoe',
 'Skycourt Sneakers',
 'Men Running Shoes',
 'Unisex FerrariRS-Fast Sneakers',
 'Men Black Walking Shoes',
 'Men Leather Monk Shoes',
 'Unisex Textured Sneakers',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Monk Shoes',
 'Men Leather Flat Boots',
 'Men Solid Suede Sneakers',
 'Men Football Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Leather Block Pumps',
 'Women Leather Pumps',
 'Men Textured Leather Formal Brogues',
 'Women Magnify Nitro Shoes',
 'Men Leather Flat Boots']

In [81]:
# scraping price for shoes

start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('product-price')#scraping brands name by class name='product-price'

    for i in brands[0:100]:

        price_of_shoe.append(i.text)
price_of_shoe[0:100]

<ipython-input-81-46470b01685a>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('product-price')#scraping brands name by class name='_2WkVRV'

['Rs. 9995',
 'Rs. 7195',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8295',
 'Rs. 7195',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 12749Rs. 14999(15% OFF)',
 'Rs. 7995',
 'Rs. 7195',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 13900',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10900',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8990',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 8394Rs. 13990(40% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11699Rs. 12999(10% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 11999',
 'Rs. 9995',
 'Rs. 7195',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8295',
 'Rs. 7195',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 12749Rs. 14999(15% OFF)',
 'Rs. 7995',
 'Rs. 7195',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 11495',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 9999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 13900',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10900',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8990',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 8394Rs. 13990(40% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8999',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11699Rs. 12999(10% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 11999']

# 7.creating dataframe

In [82]:
#creating data frame

jobs=pd.DataFrame({})
jobs['brands']=brandshoe[0:100]
jobs['product']=branddes[0:100]
jobs['price']=price_of_shoe[0:100]



jobs

,brands,product,price
0,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 9995
1,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
2,Hush Puppies,Men Formal Derbys,Rs. 8999Rs. 9999(10% OFF)
3,Nike,LEBRON WITNESS Basketball Shoe,Rs. 8295
4,Nike,Men ZOOM SPAN 4 Running Shoes,Rs. 7195
...,...,...,...
95,Tommy Hilfiger,Women Leather Block Pumps,Rs. 7999
96,Tommy Hilfiger,Women Leather Pumps,Rs. 7999
97,Regal,Men Textured Leather Formal Brogues,Rs. 8490
98,Puma,Women Magnify Nitro Shoes,Rs. 10399Rs. 12999(20% OFF)
99,Geox,Men Leather Flat Boots,Rs. 11999

In [49]:
#Q8: Gotowebpagehttps://www.amazon.in/
#Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in thebelow image:
driver.get("https://www.amazon.in/")
url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1636249531&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27"
driver.get(url)

In [50]:
#empty list
title=[]
ratings=[]
price=[]

In [51]:
#extracting title URL

title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_tags[0:10]

<ipython-input-51-dfc377209e5e>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

[<selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="134f3004-f90d-4069-91c1-6627cdc16fb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="7c10fbbc-c4f4-4bf6-8f5a-ab1c4569999e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="81c8c958-e6af-4a14-a82b-e8ac697f7226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="20a109bd-933e-48a2-821b-42a87d77fcbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="01167736-5a11-4d30-b2cc-1dec03c4c9f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="798686c1-1bed-4b3d-8582-e242c8948fcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="595cfb54-8c22-4511-8e5b-bff28349fd89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="53717e97-228d-4cc3-8bef-f1bf274f3cbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="dd0dc53f-624e-40be-8097-92e8459e652a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="0eccc3eb-b14c-4573-b77d-7ad4b2e01658")>]

In [52]:
#scraping titles for laptops
for i in title_tags:
    titles=i.text
    title.append(titles)
title[0:10]

['Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.14 kg), UX325EA-KG722TS',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'Acer Nitro 5 11th Gen Intel Core i7-11800H 15.6" (39.62cms) Full HD Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/RTX 3050 Ti 4GB Graphics/144 Hz, Black, 2.4 kg/RGB Backlit Keyboard) AN515-57',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD IPS 300 nits Antiglare 100% sRGB Thin & Light Laptop(16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg) 20VEA0HBIH',
 'Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/NVIDIA RTX 3050 4GB/120Hz Refresh Rate/Windows 10/MS Office/Backlit Keyboard/Phantom Blue/2.4Kg), 82JK007WIN',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T']

In [58]:
#extracting  rating URL for laptop

title_tags=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")
title_tags[0:10]

<ipython-input-58-1e3f4c652094>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="2fe74af0-767a-4ad5-915a-dba25de7e195")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="3976af53-74e8-45f4-80d2-45316d15de27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="b1461114-850c-46c0-85c0-1c31adef121a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="33b8ceca-30ae-4a36-878e-747ccccedbe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="d12dc199-334d-4df2-884d-235b6b3b190f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="49d8700c-9fc4-4802-8032-5083261aca22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="4b5d7ed5-9922-44c6-97f4-68b1c779e817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="c3c822bd-3ac6-4caf-940b-931a238db7ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="2ee19061-a1d6-48d3-a580-d5e1d7129841")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="384b6ffe-0d4c-4b34-b707-2512a9a7f888")>]

In [59]:
#scraping rating for laptops

for i in title_tags:
    titles=i.text
    ratings.append(titles)
ratings[0:10]

['', '', '', '', '', '', '', '', '', '']

In [60]:
# extracting URL for laptop price

title_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
title_tags[0:10]

<ipython-input-60-63416172100c>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

[<selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="3582a9d0-db6d-4089-b2eb-c1ac3a17b3c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="36f3ba3e-2788-46f4-8162-5eb6ff1e5dd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="fd3fe3fa-3013-483b-a305-63f52cd2f0dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="341e60dd-cdcb-4058-86e3-6f14545eb2d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="15832877-3ce6-4be9-ad27-eb03b0f6c067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="6af2c0d3-2da8-44df-89af-52f465434a04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="dbcd7e32-8a1e-4847-aa7b-a4dbbdbb6034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="2b2d9f4f-847e-4002-85ef-b79386e77689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="e9831561-867e-4854-9e2e-99f39d2085d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="beadeaa8c85b030073c96951eceb0b38", element="820d8f4c-1e08-489c-9bbe-9c994b10eef3")>]

In [61]:
# scraping data for laptop price
for i in title_tags:
    titles=i.text
    price.append(titles)
price[0:10]

['1,04,990',
 '96,990',
 '58,990',
 '1,16,999',
 '84,990',
 '85,990',
 '85,990',
 '1,04,990',
 '88,490',
 '93,990']

# 8.creating dataframe

In [62]:
#creating data frame to summarize data
jobs=pd.DataFrame({})
jobs['brand']=title[0:10]
jobs['rating']=ratings[0:10]
jobs['price']=price[0:10]



jobs

                                               brand rating     price
0  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...         1,04,990
1  ASUS ZenBook 13 OLED (2021) Intel Core i7-1165...           96,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...           58,990
3  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...         1,16,999
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...           84,990
5  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....           85,990
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           85,990
7  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...         1,04,990
8  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...           88,490
9  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...           93,990

In [47]:
#Q9.Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
driver.get("https://www.ambitionbox.com/")
url="https://www.ambitionbox.com/profile/data-scientist-jobs?location=Noida"
driver.get(url)#getting URL

In [106]:
#creating empty list
company_name=[]
no_of_days=[]
rating=[]

In [107]:
#extrating no of days ago job posted URL
title_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
title_tags[0:10]

<ipython-input-107-c6a410dc5bc2>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")

[<selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="83640e2c-df63-41fc-8169-8bcdfbc2e216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="d4708c00-3115-4771-8365-a1c68bd0054d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="011783c4-3083-44f4-8fe3-5c01b9f6c362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c9a1b5ca-408c-449a-b52a-3296e9e41fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c20dc7e6-5cb3-429a-b83f-f3fbb3a67e90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="434bd98d-2035-4947-8c38-7f60de2b4801")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="4d3c8aef-b174-4efb-9829-da5e34614a50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="89562936-ae6a-445a-ad2a-27144d9efae3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="80168a9f-6868-4ced-b39a-eb88818e5141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="6ffefd70-188c-4b5f-ac47-fefe89e902e4")>]

In [108]:
#scraping number of days ago job posted using for loop
for i in title_tags:
    titles=i.text
    no_of_days.append(titles)
no_of_days[0:10]

['4d ago',
 'via naukri.com',
 '25d ago',
 'via naukri.com',
 '16d ago',
 'via naukri.com',
 '16d ago',
 'via naukri.com',
 '19hr ago',
 'via iimjobs.com']

In [109]:
#extracting Rating URL
title_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
title_tags[0:10]

<ipython-input-109-59b8c4943248>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//span[@class='body-small']")

[<selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="933da906-adcb-4e38-ba80-fa802c18a1a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="d714346f-c7fa-4b74-ae5a-959c261e7d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="ca279ee9-8be9-40ee-8a41-cd12cad25640")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="c9317c2e-0d78-45ff-b716-e2b910c6482f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="5b7e4374-6d62-4918-bf6d-20b9a1e47b1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="58ffc281-c804-4858-a07f-bc23c706944f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="122d675a-2df0-4e42-9018-aafa8ee76504")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="3cdc6b22-ffd7-4150-b5e2-bd5db1152f46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="876b9a86-7898-40b0-9156-277544cfd11d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="bb960b3b-d3d5-49b0-99cf-67ca3093aa59")>]

In [110]:
# scraping rating
for i in title_tags:
    titles=i.text
    rating.append(titles)
rating[0:10]

['4.1', '4.1', '4.1', '4.1', '3.9', '4.1', '3.9', '4.2', '3.3', '4.0']

In [111]:
#extracting URL for company name
title_tags=driver.find_elements_by_xpath("//div[@class='company-info']/p")
title_tags[0:10]

<ipython-input-111-2297bf176823>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='company-info']/p")

[<selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="90b482fb-0fdc-42ac-ad1c-b7ba958966e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="9d2a2284-6825-47fb-8f53-acca21b0e883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="db018848-2689-4bc0-8aa4-9dfa2c0c13c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="a2201f79-50d2-4116-9f99-00caca6f2207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="9799cc44-0e6f-45cc-a3ea-6b817f0a95a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="19c52aa9-e42a-4cac-b9fd-d0cef96edeb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="762c60c7-d035-4335-84a4-a75be7d5941d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="036f8374-5bbe-4c83-a5b8-860ca51e7f95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="bdb615f2-86b3-4f0f-afd7-a97777623e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3ecbf8fc6cb50f5119a1539add2748be", element="f99cf28f-56ed-4182-b290-7cc08f6679c3")>]

In [112]:
#using for loop scraping company name
for i in title_tags:
    titles=i.text
    company_name.append(titles)
company_name[0:10]

[' · ',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Steria India Ltd',
 'GI Group',
 'IBM India Pvt. Limited',
 'GI Group',
 'MoMagic Technologies Pvt. Ltd.',
 'Evalueserve.com Pvt. Ltd']

# 9.creating dataframe

In [113]:
#creating data frame

jobs=pd.DataFrame({})
jobs['companyName']=company_name[0:10]
jobs['rating']=rating[0:10]
jobs['No of days old']=no_of_days[0:10]



jobs

                                      companyName rating   No of days old
0                                              ·     4.1           4d ago
1  Optum Global Solutions (India) Private Limited    4.1   via naukri.com
2  Optum Global Solutions (India) Private Limited    4.1          25d ago
3                                Steria India Ltd    4.1   via naukri.com
4                                Steria India Ltd    3.9          16d ago
5                                        GI Group    4.1   via naukri.com
6                          IBM India Pvt. Limited    3.9          16d ago
7                                        GI Group    4.2   via naukri.com
8                  MoMagic Technologies Pvt. Ltd.    3.3         19hr ago
9                        Evalueserve.com Pvt. Ltd    4.0  via iimjobs.com

In [275]:
#Q10.Write a python program to scrape the salary data for Data Scientist designation.
#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
driver.get("https://www.ambitionbox.com/")
url="https://www.ambitionbox.com/salaries"
driver.get(url)

In [276]:
#creating all empty list
name=[]
tsalaryrecord=[]
avg_salary=[]
max_salary=[]
min_salary=[]
exp=[]

In [277]:
#extracting URL for company name
title_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
title_tags[0:10]

<ipython-input-277-35a1eb3bbf54>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='name']/a")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="d0bac125-6db2-49bb-8054-8fe483af91e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="97f15bef-a144-4fc0-8bdf-a6a9541b9014")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="c000be68-a667-4d9a-8032-256c5216f411")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="bb629ab9-fb08-4ca8-a07d-6a9ef561c420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="ccc2c8d1-17e0-4571-8bab-8134696045b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="0a53cdb1-4ea4-46cb-85d7-84f8417e6316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="f5a194e7-71be-43f0-9281-79bc2eb09fdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="bcdd178a-0ddf-47ca-94b5-96894ac1bdea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="7510493f-cbe9-466b-97ee-504acda0ec36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="7ed25bc1-831d-4952-adbe-b1658e6bc240")>]

In [278]:
# first 10 company names scraped using for loop
for i in title_tags:
    titles=i.text
    name.append(titles)
name[0:10]

['Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'Amazon',
 'Servicenow Software Development India',
 'ServiceNow',
 'Walmart',
 'Arcesium',
 'PayPal',
 'Visa']

In [279]:
#extracting salary record for each company
title_tags=driver.find_elements_by_xpath("//div[@class='name']/span")
title_tags[0:10]

<ipython-input-279-cffada1d0439>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='name']/span")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="77fbae2f-6318-4845-bee9-90289d01db37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="26d7681b-d7ac-4b44-96d4-002c1111e84a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="aca105df-16e7-4409-9303-7618a3d83008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="7c121a9e-9d85-4785-82ca-e01c71f0f666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="280d700c-f6af-400f-bd33-01395f880453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="ec1d6256-11e6-43c4-855e-377fcdf859c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="5b2a8b2c-76a5-4872-bd5d-80c0f210acba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="520c1471-5894-433e-9884-3b1f9a99f073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="14c1e6b0-a830-456e-86f4-337db0ac0d0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="2dc10e53-7181-469b-a935-ae2709343d4c")>]

In [280]:
#scrapping details of total salary record
for i in title_tags:
    titles=i.text
    tsalaryrecord.append(titles)
tsalaryrecord[0:10]

['based on 209 salaries',
 'based on 10 salaries',
 'based on 51 salaries',
 'based on 75 salaries',
 'based on 25 salaries',
 'based on 15 salaries',
 'based on 70 salaries',
 'based on 54 salaries',
 'based on 12 salaries',
 'based on 26 salaries']

In [281]:
#extracting URL for min salary

title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
title_tags[0:10]

<ipython-input-281-d5fc52a5467d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="c1061d92-d87d-4fcf-931e-4a1e69e145d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="e08a8440-32ab-4c45-8fc2-c1cc3b632f3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="6f26ee00-9931-4ed2-856b-9503953900a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="c62667ef-7405-44ef-9bcc-be8d2ba1f7ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="5f2d1dc4-65d1-4523-bd23-701cfa705849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="e5b0b93f-4f1b-4e8a-87ad-1b1ab5d110f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="79a35e19-476c-4f01-9ba9-d155a75c2886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="a97c8821-3416-4be7-82fa-7765d26bb6eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="e3bcb6a1-80ae-46c7-b1b6-e69e76e5a69f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="eb93899e-e075-430b-be15-c4049c4582ea")>]

In [282]:
#scraping min salary for each company

for i in title_tags:
    titles=i.text
    min_salary.append(titles)
min_salary[0:10]

['₹ 12.0L',
 '₹ 16.0L',
 '₹ 7.0L',
 '₹ 8.0L',
 '₹ 13.0L',
 '₹ 11.2L',
 '₹ 10.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 13.0L']

In [283]:
#extracting URL for max salary
title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
title_tags[0:10]

<ipython-input-283-74e6d15e267c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="4678441b-b12a-4314-81f1-d015dc4ac47c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="69b61c96-90fa-4ee1-b34b-c8ca42b92409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="a41cb237-9135-4c24-8da2-cd0ea05834a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="c9b346fa-a1d4-4114-b391-c28cb2fcf491")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="0193cbff-1e05-46d8-b390-75112dc820ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="3c1a4e27-f581-4fd3-94b2-b0a60d0179ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="2b29e1a5-6e7b-4eae-ae92-c9fa2099e180")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="50370613-8335-4a4e-b07c-f0fc4dd2997e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="719620cc-0065-414d-9313-960d7e683b1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="4bd3199b-eeb5-4e4b-a0c2-95a3e517a359")>]

In [284]:
# scraping max salary for each company
for i in title_tags:
    titles=i.text
    max_salary.append(titles)
max_salary[0:10]

['₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 40.0L',
 '₹ 25.0L',
 '₹ 23.0L',
 '₹ 32.0L',
 '₹ 30.0L',
 '₹ 23.0L',
 '₹ 23.0L']

In [285]:
# extracting avg salary for each company
title_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
title_tags[0:10]

<ipython-input-285-5ce805b8bae4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="9d162ba8-d89a-4b41-99cd-b561372f64e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="70cef2b3-6313-4478-8c4f-220356df7764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="ea401162-dcbb-4020-a5c8-70351ae7cd16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="83f142d7-0d5a-4c31-8a61-36e17545909c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="5b9981d6-312c-42f0-9f15-eb433019ea68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="712464e9-f139-4f7c-9470-6f07a0ccc2a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="98052a11-a562-4e43-9595-9971c3c9bf68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="559cc4ff-96ba-459d-ae20-df2bf876b66a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="875434e1-d4f6-439c-9c7c-a18089a78a87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="8b22e7a0-56ba-4895-9425-74fd1f4fe771")>]

In [286]:
#scraping avg salary corroespond to each company
for i in title_tags:
    titles=i.text
    avg_salary.append(titles)
avg_salary[0:10]

['₹ 22.4L',
 '₹ 21.2L',
 '₹ 20.8L',
 '₹ 19.2L',
 '₹ 18.2L',
 '₹ 18.0L',
 '₹ 17.9L',
 '₹ 17.7L',
 '₹ 17.6L',
 '₹ 17.1L']

In [293]:
# extracting URL for total exp across each company required

title_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
title_tags[0:10]

<ipython-input-293-4b8da008de6b>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

[<selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="9bdd59aa-8dc9-4a9c-94d8-022abc3be187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="902496f5-1a1f-4189-ad82-267ba8d4dce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="730856e4-06fd-45ce-8940-ef71c26d8375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="e0361d12-eca6-48cf-9a71-8a50d92f934d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="149b97f3-88ef-430c-aa2f-e899fcdd36c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="cf67a1a3-a02a-44df-ba4d-44b571b498a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="7ebd0e78-b6c5-4f66-b286-877d4bcd11e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="36ffc5bb-b491-4af7-b3c7-997e46bff602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="dae02dfd-13e0-4696-9c72-289b7c409bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1f2e496fbb0556dacc20f784973d7aff", element="4cc16b4d-ded1-493e-8b4d-f19f964781b8")>]

In [294]:
# scraping total exp
for i in title_tags:
    titles=i.text
    exp.append(titles)
exp[0:10]

['Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2-3 yrs exp',
 'Software Engineer\n . \n3 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp',
 'Software Engineer\n . \n1 yr exp',
 'Software Engineer\n . \n1-2 yrs exp']

# 10.creating dataframe

In [296]:
# creating data frame to summarize all data

jobs=pd.DataFrame({})
jobs['Name_of_company']=name[0:10]
jobs['Total_salary_record']=tsalaryrecord[0:10]
jobs['Avg_salary']=avg_salary[0:10]
jobs['Min_salary']=min_salary[0:10]
jobs['Max_salary']=max_salary[0:10]
jobs['Total_exp']=exp[0:10]



jobs

,Name_of_company,Total_salary_record,Avg_salary,Min_salary,Max_salary,Total_exp
0,Microsoft Corporation,based on 209 salaries,₹ 22.4L,₹ 12.0L,₹ 45.0L,Software Engineer\n . \n1-4 yrs exp
1,Goldman Sachs,based on 10 salaries,₹ 21.2L,₹ 16.0L,₹ 30.0L,Software Engineer\n . \n2 yrs exp
2,Flipkart,based on 51 salaries,₹ 20.8L,₹ 7.0L,₹ 30.0L,Software Engineer\n . \n1-4 yrs exp
3,Amazon,based on 75 salaries,₹ 19.2L,₹ 8.0L,₹ 40.0L,Software Engineer\n . \n1-4 yrs exp
4,Servicenow Software Development India,based on 25 salaries,₹ 18.2L,₹ 13.0L,₹ 25.0L,Software Engineer\n . \n2-3 yrs exp
5,ServiceNow,based on 15 salaries,₹ 18.0L,₹ 11.2L,₹ 23.0L,Software Engineer\n . \n3 yrs exp
6,Walmart,based on 70 salaries,₹ 17.9L,₹ 10.0L,₹ 32.0L,Software Engineer\n . \n1-4 yrs exp
7,Arcesium,based on 54 salaries,₹ 17.7L,₹ 12.0L,₹ 30.0L,Software Engineer\n . \n1-2 yrs exp
8,PayPal,based on 12 salaries,₹ 17.6L,₹ 12.0L,₹ 23.0L,Software Engineer\n . \n1 yr exp
9,Visa,based on 26 salaries,₹ 17.1L,₹ 13.0L,₹ 23.0L,Software Engineer\n . \n1-2 yrs exp